<%= javascript_include_tag 'clickOutside' %>
<div class="panel">
	<%= link_to destroy_user_session_path, method: :delete,class: "signout"  do %>
		<div class="panelButton icon signout"></div>
	<% end %>

	<div class="fav panelButton icon angle-down">
		<div class="triangulo_sup invisible"></div>
		<div class="invisible user_menu">
			<ul>
				<li>Aulas</li>
				<li>Listas</li>
				<li>Favoritos</li>
				<li>Mis Materiales</li>
				<br>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<li> Cerrar Sesión </li>
				<% end %>
			</ul>
		</div>

	</div>
	<div class="panelButton username">
		<%= link_to user_index_path do %>
			<%= current_user.username %>
			<%= image_tag(current_user.avatar.url, class: "header_avatar") %>		
		<% end %>
	</div>
		

</div>
<script type="text/javascript">
	$(document).ready(function  () {
		$(".fav.angle-down").on("click", function(){
			if (!$(".fav.panelButton").hasClass("active_menu")) {
				setTimeout(function(){
					$(".triangulo_sup").removeClass("invisible");			
					$(".user_menu").removeClass("invisible");
					$(".user_menu").addClass("visible_menu");
					$(".fav.angle-down").addClass("active_menu");
				},1)
			};
		});
		
		$(".user_menu").bind( 'clickoutside', function(event){
			if ($(".fav.panelButton").hasClass("active_menu")) {
				$(".triangulo_sup").addClass("invisible");			
				$(".user_menu").addClass("invisible");
				$(".user_menu").removeClass("visible_menu");
				$(".fav.angle-down").removeClass("active_menu");
			};
		});
	});
</script>