<div class="icon plus relative">
	<%if current_user %>
		<div class="add_to_list invisible">
			<div class="triangulo_sup"></div>
			<div class="menu_header">A침adir a:</div>
			<ul class="all_lists">
				<% if current_user.lists.count == 0 %>
					<li><%= "No tienes ninguna lista" %></li>
				<% else %>
				    <% current_user.lists.each do |list| %>
    				    <li list-id="<%= list.id %>" class="relative list_li" ><%= list.name %>
        				    <% if list.materials.include?(params[:id]) %>
        				    	<div class="icon check list_check"></div>
        				    <% else %>
        				    	<div class="icon check-empty list_check"></div>
        				    <% end %>
    				    </li>
				    <% end %>
				<% end %>
			</ul>
			<div class="add_list inactive_form">
				<div class="new_list_form invisible">
					<div class="triangulo_der"></div>
					<%= form_for List.new,:remote => true do |f| %>
					   <%= f.text_field :name, required: true, placeholder: "Nombre"%>
					   <%= f.text_field :description, placeholder: "Descripcion... " %>
					   <%= f.submit "Crear" %>
					<% end %>
				</div>
			</div>
		</div>
	<% else %>
		<div class="add_to_list invisible">
			<div><%= link_to "Iniciar Sesi칩n", new_user_session_path %>	</div>
		</div>
	<% end %>

</div>



<script type="text/javascript">
	$(document).ready(function() {
		var addListButton = $(".add_list");
		var hiddenForm = $(".new_list_form")
		var button = $(".element_buttons .icon.plus");
		var invisibleElement = $(".add_to_list");


		$("#new_list").on("ajax:success", function (e, data, status, xhr) {
			var newList = '<li list-id="' + data.id + '" class="relative list_li">' + data.name +'<div class="icon check-empty list_check"></div></li>';
			$(".all_lists").append(newList);
			hiddenForm.addClass("invisible");
			addListButton.removeClass("active_form");
			addListButton.addClass("inactive_form");
			$('input[name="list[description]"]').val("");
			$('input[name="list[name]"]').val("");
		});

		//Add material to list, ajax function and rotating animation
		$(document).delegate( '.list_li', "click", function(){
			$(this).children().addClass("rotating");
			addToList($(this).attr("list-id"));
		});


		var addToList = function (id){
		    $.ajax({
		                 url: "/list/" + "<%= params[:id] %>"+ "/" + id, // Route to favorite
		                type: "GET", // Controller create or destroy method
		            dataType: "json",
		                data: {}, // This goes to Controller in params hash, i.e. params[:file_name]
		            complete: function() {},
		             success: function(data, textStatus, xhr) {
		             		  $("li[list-id=" + id + "] .icon").removeClass("rotating")
		                      $("li[list-id=" + id + "] .icon").toggleClass("check-empty")
		                      $("li[list-id=" + id + "] .icon").toggleClass("check")

		                      },
		               error: function() {
		                        alert("Error al a침adir/eleminar de la lista")
		                        // Se a침ade la clase para poder realizar otra vez la peticion ajax
		                      	$(".favoriteAjax").toggleClass("favoriteAjax")
		          				$(".rotating").removeClass("rotating");
		                      }
		    });
		}


		// Add material to list animation show-hide

		button.on("click", function(){
			if (!button.hasClass("active_button")) {
				setTimeout(function(){
					invisibleElement.removeClass("invisible");			
					button.removeClass("inactive_button")
					button.addClass("active_button");

				},1)
			};
		});
		
		invisibleElement.bind( 'clickoutside', function(event){
			if (button.hasClass("active_button")) {
				
				invisibleElement.addClass("invisible");
				button.removeClass("active_button");
				button.addClass("inactive_form");
			};

		});



		// Create list form animation show-hide 


		addListButton.on("click", function(){
			if (!addListButton.hasClass("active_form")) {
				setTimeout(function(){
					hiddenForm.removeClass("invisible");			
					addListButton.removeClass("inactive_form")
					addListButton.addClass("active_form");

				},1)
			};
		});
		
		hiddenForm.bind( 'clickoutside', function(event){
			if (addListButton.hasClass("active_form")) {
				
				hiddenForm.addClass("invisible");
				addListButton.removeClass("active_form");
				addListButton.addClass("inactive_form");
			};

		});
		
	})
</script>