
<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field titulo">
    <%= f.text_field :name, placeholder: "Título..." , required: true %>
  </div>
    <div class="field subjectSelector">
    <%= f.select :subject, @subjects, { :include_blank => 'Asignatura ...' }, :required => true %>
        

        <!-- content_tag(:option, "Asignatura...", value: "Asignatura...", :disabled => true, :selected => true)-->    
        
        


  </div>
  <div class="field descripcion">
   
    <%= f.text_area :description, placeholder: "Descripción", required: true  %>
  </div>
  <div class="data">
      <div class="info">
        <div class="field block standarMargin type">
          <%= f.label :type, "¿Qué vas a publicar?" %><br>
          
          <%= f.select(:type) do %>
             
              <%= content_tag(:option, "", value: "", :disabled => true, :selected => true) %>
              
              <% [['Apuntes / Teoría'], ['Ejercicios'], ['Exámenes'],  ['Otro']].each do |c| -%>
                  <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
          
          <% end %>    
        
        </div>
        
        <div class="field block standarMargin formato">
            <%= f.label :format, "Formato: " %><br>
            
            <%= f.select(:format) do %>
            
                <%= content_tag(:option, "", value: "", :disabled => true, :selected => true) %>
                
                <% [['Vídeo', 'video'], ['Archivo', 'file']].each do |c| -%>
                  <%= content_tag(:option, c[0], value: c[1]) %>
                <% end %>
            
            <% end %> 
        </div>
      
      </div>

      <div class="info extra">
        
        
        <div class="field block standarMargin searchable">
          <%= f.label :searchable, "¿Quién lo puede ver?" %><br>
          <%= f.select(:searchable) do %>
                <%= content_tag(:option, "", value: "", :disabled => true, :selected => true) %>
                
                <% [['Público', true],["Oculto (No aparecerá en las búsquedas)", false]].each do |c| -%>
                  <%= content_tag(:option, c[0], value: c[1]) %>
                <% end %>
            
          <% end %> 
        </div>
        
        <div class="uploadButton standarMargin">
          <div class="icon cloud-upload uploadIcon"></div>
          <div class="nameOfFile"> Subir Archivo </div>
          <%= f.file_field :file %>
        </div>
        <div class="field block secundario standarMargin youtubeChannel">
          <%= f.label :youtubeChannel %><br>
          <%= f.url_field :youtubeChannel %>
        </div>
        <div class="field block standarMargin secundario link">
          <%= f.label :youtube_id %><br>
          <%= f.url_field :youtube_id %>
        </div>
      
      </div>

      <div class="field standarMargin block autor">
          <%= f.label :authors do %>
             Autor/es <low> (Separados por comas)</low> :
          <% end %>
          <br>
          <%= f.text_field :authors , placeholder: "Unicoos, Anónimo, ..." , required: true %>
      </div>

  </div>

  <div class="field clasification block">
    <%= f.label :tags, "Clasificación:" %><br>
    <div class="tags tagName"></div>
    <%= f.hidden_field :tags %>

  </div>

  <div class="field clasification block">
    <%= f.label :schools, "Escuela (Opcional):" %><br>
    <div class="schools tagName"></div>
    <%= f.hidden_field :schools %>
  </div>

  <div class="actions">
    <%= f.submit "¡Listo!" %>
  </div>

<% end %>



<script>
$(document).ready(function () {
  
  String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
  }
  
  var resetFile = function(){
    $("input[type='file']").val("");
    $(".nameOfFile").text("Subir Archivo");
    $(".removeIcon").removeClass("removeIcon");
    $(".inputWithFile").removeClass("inputWithFile")
    $(".nameOfFileWithFile").removeClass("nameOfFileWithFile")
    $(".uploadIcon").addClass("cloud-upload");
    $(".uploadIcon").removeClass("remove");
    $(".uploadButton").removeClass("largeUploadButton");
  };
  
  $(document).delegate( '.removeIcon', "click",function(){
    resetFile();
  });
  
  $("input[type='file']").prop('required',true);
  
  $("select").prop('required',true);
  
  $(".uploadMaterial").toggleClass("invisible");
  
  $( ".formato select" ).change(function() {
      var selected = $( ".formato select option:selected" ).text();
      
      $(".secundario").addClass("invisible");
      if (selected == ''){
        $(".secundario").addClass("invisible")
      }else if (selected == 'Vídeo') {
        $(".youtubeChannel , .link").removeClass("invisible");
        $(".link label").html("Enlace al vídeo (Youtube):");
        $(".link input").attr("placeholder" , "https://www.youtube.com/watch?v=........");
        $(".youtubeChannel label").html("Enlace al canal de youtube:");
        $(".youtubeChannel input").attr("placeholder", "https://www.youtube.com/channel/......");
        resetFile();
        $(".link input").prop('required',true);
        $("input[type='file']").prop('required',false);
        $(".uploadButton").addClass("invisible")
      }else {
        $(".link input").prop('required',false);
        $(".uploadButton").removeClass("invisible");
        $("input[type='file']").prop('required',true);
      }; 
  
  }).trigger("change");
  
  var setClasification = function(){
    window.clasification = [];
    var MathsJSON = <%= raw @Maths %>;
    if ($( ".subjectSelector select option:selected").text() == "Matematicas") {
      window.clasification = MathsJSON;
    };
  };

  var setSchools = function(){
    window.schools = <%= raw @Schools %>;
  }
  
  var update = function(typeOfElement){
    if (typeOfElement == "tags") {
      setClasification();
      $("div[type='tags']").not(".noselected").each(function(){
        window.clasification = window.clasification[$(this).children().text()];
      })
    }else{
      setSchools();
      $("div[type='schools']").not(".noselected").each(function(){
        window.schools = window.schools[$(this).children().text()];
      });
    };
  };

  var showNew = function(typeOfElement){
    var newElements = [];
    var position = "";
    if (typeOfElement == "schools") {
      if (!Array.isArray(window.schools)) {
        $.each(window.schools,function(key , value){newElements.push(key)})
      }else{
        position = "last";
        $.each(window.schools,function(key , value){newElements.push(value)})
      };
    }else{
      if (!Array.isArray(window.clasification)) {
        $.each(window.clasification, function(key , value){newElements.push(key)});
      }else{
        position = "last";
        $.each(window.clasification, function(key , value){newElements.push(value)})
      };
    };
    $.each(newElements, function(key, value){
      $("." + typeOfElement).append('<div class="element '+position+' noselected"  type="' + typeOfElement + '"><div class="tagName">' + value + '</div> +</div>');
    });
  };
  
  var selectElement= function(element){
    typeOfElement = element.attr("type");
    $("div[type="+typeOfElement+"]").not(".noselected").last().toggleClass("index");
    element.toggleClass("selected");
    element.toggleClass("index");
    element.toggleClass("noselected");
    element.html(element.html().replace("+","-"));
    $('div[type='+typeOfElement+']').not(".selected").remove();
    if (!element.hasClass("last")) {
      update(typeOfElement);
      showNew(typeOfElement);
    };
  };
  
  var resetValueOfInput = function(typeOfElement){
    var value = [];
    $('div[type='+typeOfElement+']').not(".noselected").each(function(){
      value.push($(this).children().text());
    });
    $("#material_" + typeOfElement).attr("value",value);
  }

  $(".subjectSelector select").change(function() {
      setClasification();
      $('div[type="tags"]').remove();
      showNew("tags");
  }).trigger("change");
  
  $(document).delegate( '.noselected', "click", function() {
    selectElement($(this));
    resetValueOfInput(typeOfElement);
  });

  $(document).delegate( '.index', "click", function() {
    typeOfElement = $(this).attr("type");
    $(this).remove();
    $('div[type='+typeOfElement+']').not(".selected").remove();
    $('div[type='+typeOfElement+']').last().toggleClass("index");
    update(typeOfElement);
    showNew(typeOfElement);
    resetValueOfInput(typeOfElement);
  });
  
  setSchools();
  
  showNew("schools");
  
  $('input[type=file]').change(function(e){
    var file = $(this).val().split("\\");
    var nameOfFile = file[file.length - 1]
    if (nameOfFile == "") {
      resetFile();
    }else{
      $(".uploadIcon").removeClass("cloud-upload");
      $(".uploadIcon").addClass("remove");
      $(".uploadIcon").addClass("removeIcon")
      $(".nameOfFile").text(nameOfFile);
      $(".nameOfFile").addClass("nameOfFileWithFile");
      $(this).addClass("inputWithFile");
      $(".uploadButton").addClass("largeUploadButton")
    };
  });
  
  $(".showless").on("click",function(){
    $(".centered").toggleClass("invisible");
    $(this).toggleClass("upload-circle");
    $(this).toggleClass("download-circle");
  });

});

  
</script>
