<% content_for :head do %>
  <%= stylesheet_link_tag 'search', media: "all"%>
<% end %>
<article class ="materials_index">
<%= render 'filter' %>
  <div class="materials">
    <p id="notice"><%= notice %></p>



    <% @materials.each do |material| %>
        <div class="material">
          <%= render partial: "material", locals: {material: material} %>
            <div class="description">
              <% material.authors.split(",").each do |author| %>
                <%= author + ". "%>
              <% end %>
              <br>
              <%= material.description %>
            </div>
          </div>
        </div>
    <% end %>

  <br>


  </div>
</article>

<script type="text/javascript">
  var youtubeVideoIdRegEx = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
  function videoId (youtubeUrl) {
    return youtubeUrl.match(youtubeVideoIdRegEx)[1];  
  }
  //$(document).ready(function(){
   // $(".youtubeThumbnail").each(function(){
    //  $(this).attr("src" ,"http://i.ytimg.com/vi_webp/" + videoId($(this).attr("src")) + "/mqdefault.webp");
    //})

  //});
</script>