<% content_for :head do %>
	<%= stylesheet_link_tag 'show_video', media: "all"%>
<% end %>
<div class="material">
	<%= @iframe %>	
	<div class="info">
		<div class="head_info">
			<%= @material.name %>
			
			<div class="light">
				 <br>
				
				<div class="avatar">
					<% if @material.user.avatar_file_size %>

						<%= image_tag @material.user.avatar.url %>
					<% else %>
						<%= image_tag 'default.png' %>
					<% end %>
				</div>
				<div class="user_info">
				<bold><%= @material.user.username %></bold><br>

				Posts: <%= Material.where(user_id: @material.user_id).count%>
				</div>
			<hr>	
			Publicado el <%= @material.uploadDate %>
			</div>
		</div>
		<div class="description">
			<%= @material.description %>
			<div class="light">
				<%= @material.tags[@material.tags.length - 1] %> <br>
				<%= @material.schools[@material.schools.length - 2] %>: 
				<%= @material.schools[@material.schools.length - 1] %> <br>
				
				Por: <% @material.authors.each do |author| %>
					<%= author %> <br>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="coments"></div>
<div class="related"></div>


