<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>


<p>
  <strong>Type:</strong>
  <%= @material.type %>
</p>

<p>
  <strong>Format:</strong>
  <%= @material.format %>
</p>
<p>
  <strong>link:</strong>
  <%= @material.link %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @material.username %>
</p>

<p>
  <strong>youtubeChannel:</strong>
  <%= @material.youtubeChannel %>
</p>
<p>
  <strong>tags:</strong>
  <%= @material.tags %>
</p>
<p>
  <strong>subject:</strong>
  <%= @material.subject %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>

