<% content_for :head do %>
	<%= stylesheet_link_tag 'show_video', media: "all"%>
<% end %>
<article>
	<div class="material">
		<%= @iframe %>	
		<div class="info">
			<div class="head_info">
				<div class="name"> <%= @material.name %> </div>
				
				<div class="light">
					 <br>
						
					<div class="avatar">
						<%= link_to @material.youtubeChannel_avatar_url do %>
								<%= image_tag @material.youtubeChannel_avatar_url %>
						<% end %>
					</div>
					
					<div class="user_info">
						<%= link_to @material.youtubeChannel_avatar_url do %>
							<bold><%= @material.authors %></bold><br>
						<% end %>

						Posts: <%= Material.where(youtubeChannel_id: @material.youtubeChannel_id).count%>
					</div>
					<div class="favs"><div class="icon star favoriteAjax"></div> <number><%= @material.favorites.count %></number></div>
				<hr>	
				Publicado el <%= @material.uploadDate %>
				</div>
			</div>
			<div class="description">
				<text>
				<%= simple_format(@material.description) %></text><br>
				<div class="light">
					<%= @material.tags.split(",")[@material.tags.split(",").length - 1] %> <br>
					<% if @material.schools.split(",").length > 1 %>
						<%= @material.schools.split(",")[@material.schools.split(",").length - 2] %>: 
						<%= @material.schools.split(",")[@material.schools.split(",").length - 1] %> <br>
					<% end %>
					Publicado por: 
						<%= @material.user.username %> <br>
					
				</div>
			</div>
		</div>
	</div>

	
<%= render '/materials/comments.html.erb' %>
<%= render '/materials/related.html.erb' %>



</article>


<%= render '/materials/favorites_script.html.erb' %>


<script type="text/javascript">

// Linkify
$(document).ready(function(){
	showLinksOnDescription();
})

// Expresion regular que añade la etiqueta "a" a los enlaces del texto
function linkify(text) {
    var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    });
}
// Utilizar la expresion regular linkify para añadir los enlaces de la descripcion. 
function showLinksOnDescription(){
	description = $(".description").html();
	description_with_links = linkify(description);
	$(".description").html(description_with_links);
}


</script>