<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header">
			<div class="logo"><%= link_to "Logo", root_path%></div>
			<div class="asignaturas">Asignaturas</div>
			<% if !user_signed_in? %>
				<%= render '/aplication/no_user.html.erb' %>
			<% else%>
				<%= render '/aplication/user_buttons.html.erb' %>
				
			<% end %>
		</header>
<%= yield %>

</body>
</html>
