<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header">
			<div class="logo"><%= link_to "Logo", root_path%></div>
			<div class="asignaturas">Asignaturas</div>
			
			<% if !user_signed_in? %>
				<%= render '/aplication/no_user.html.erb' %>
			<% else%>
				<%= render '/aplication/user_buttons.html.erb' %>
				
			<% end %>
			<%= link_to new_material_path, class: "uploadMaterial" do %>
				<div class="upploadMaterial">¡Publicar!</div>
			<% end %>
		</header>
<%= yield %>
<footer>
	Contacto | Sobre appName | ¡Ayúdanos! | Política y Privacidad
</footer>
</body>
</html>
