<!DOCTYPE html>
<html>
<head>
	<title>AppName</title>
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic,500italic,700,700italic,900,100italic,100,900italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'application', media: "all"%>
	<%= javascript_include_tag 'application', media: "all" %>
	<% if @welcomePage %>
		<%= stylesheet_link_tag 'welcome', media: "all"%>
	<% end %>
	<% if @show_video %>
		<%= stylesheet_link_tag 'show_video', media: "all"%>
	<% end %>
	<% if @search %>
		<%= stylesheet_link_tag 'search', media: "all"%>
	<% end %>
</head>
<body>
<div class="webpage">
	<header class="header">
		<div class="logo"><%= link_to "Logo", root_path%></div>
		<div class="asignaturas">Asignaturas</div>
			
		<% if !user_signed_in? %>
			<%= render '/aplication/no_user.html.erb' %>
		<% else%>
			<%= render '/aplication/user_buttons.html.erb' %>
		<% end %>

		<%= link_to new_material_path, class: "uploadMaterial" do %>
			<div class="upploadMaterial">¡Publicar!</div>
		<% end %>

	</header>

	<%= yield %>
</div>

<div id="footer">
	Contacto | Sobre appName | ¡Ayúdanos! | Política y Privacidad
</div>

</body>
</html>
