<!DOCTYPE html>
<html>
<head>
	<title>AppName</title>
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic,500italic,700,700italic,900,100italic,100,900italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'application'%>
	<%= javascript_include_tag 'application' %>
	<%= yield :head %>
</head>
<body>
<%= render '/aplication/notice.html.erb' %>

	<header class="header">
		<div class="logo"><%= link_to "Logo", root_path%></div>
		<div class="asignaturas">Asignaturas</div>
		<div class="asignaturas">Cursos</div>
		<div class="asignaturas">Top</div>
			
		<% if !user_signed_in? %>
			<%= render '/aplication/no_user.html.erb' %>
		<% else%>
			<%= render '/aplication/user_buttons.html.erb' %>
		<% end %>

		<%= link_to new_material_path, class: "uploadMaterial" do %>
			<div class="upploadMaterial">¡Publicar!</div>
		<% end %>

	</header>

	<%= yield %>


<div id="footer">
	Contacto | Sobre appName | ¡Ayúdanos! | Política y Privacidad
</div>

</body>
</html>
